$dark-blue: rgb(34, 83, 120);
$medium-blue: rgb(22, 149, 163);
$light-blue: rgb(172, 240, 242);
$light-yellow: rgb(243, 255, 226);
$orange: rgb(235, 127, 0);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
$font-family-sans-serif: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;

$navbar-default-bg: $dark-blue;
$navbar-default-link-color: $light-yellow;
$navbar-default-link-hover-color: darken($light-yellow, 25%);
$navbar-default-brand-color: white;
$navbar-height: 60px;
