@import "../../theme/variables.scss";

.roundProfilePicture {
  background-color: $orange;
  border-radius: 50%;
  border: 2px solid darken($orange, 20%);
  float: left;
  &:not(:last-child) {
    margin-right: 10px;
  }
  p {
    margin: 0;
    text-align: center
  }
}
